openapi: 3.2.0
info:
  title: VKS Production Data API
  description: The VKS (Visual Knowledge Share) JSON REST API provides programmatic access to pull guidebook and production information out of VKS and manage Work Orders and operations. It supports bi-directional integration with ERP, MES, QMS, and LMS systems for manufacturing environments. Supports up to 50 requests per minute for SaaS deployments.
  version: 1.23.0
  contact:
    name: VKS Support
    url: https://help.vksapp.com/
  license:
    name: Proprietary
    url: https://vksapp.com/
servers:
- url: https://api.vksapp.com
  description: VKS SaaS API
- url: https://{your-vks-instance}
  description: VKS On-Premises API
  variables:
    your-vks-instance:
      default: vks.example.com
      description: Your VKS on-premises hostname
tags:
- name: Production Data
  description: Retrieve production metrics, quality data, and traceability records
paths:
  /api/production-data:
    get:
      operationId: listProductionData
      summary: List Production Data
      description: Retrieve production data records including smart form responses, quality metrics, completion times, worker IDs, and part/assembly traceability information.
      tags:
      - Production Data
      security:
      - ApiKeyAuth: []
      parameters:
      - name: work_order_id
        in: query
        required: false
        schema:
          type: string
        description: Filter by work order ID
      - name: guidebook_id
        in: query
        required: false
        schema:
          type: string
        description: Filter by guidebook ID
      - name: from_date
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Filter records from this date/time
      - name: to_date
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Filter records to this date/time
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 20
          maximum: 100
      responses:
        '200':
          description: Production data records
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductionRecord'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    ProductionRecord:
      type: object
      description: A production data record capturing operational metrics and quality data.
      properties:
        id:
          type: string
        work_order_id:
          type: string
        guidebook_id:
          type: string
        step_number:
          type: integer
        worker_id:
          type: string
          description: Worker credentials/ID.
        part_number:
          type: string
        actual_quantity:
          type: integer
        smart_form_data:
          type: object
          description: Data captured via VKS Smart Forms (quality checks, measurements, etc.).
          additionalProperties: true
        completion_time_seconds:
          type: integer
          description: Time taken to complete the operation in seconds.
        recorded_at:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Unauthorized — invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'VKS API key. Include as ''Authorization: Bearer {api_key}'' or as configured in your VKS instance.'
externalDocs:
  description: VKS API Documentation
  url: https://help.vksapp.com/Content/VKS_Features/API/APIInfo.htm
