openapi: 3.2.0
info:
  title: VKS Guidebooks API
  description: The VKS (Visual Knowledge Share) JSON REST API provides programmatic access to pull guidebook and production information out of VKS and manage Work Orders and operations. It supports bi-directional integration with ERP, MES, QMS, and LMS systems for manufacturing environments. Supports up to 50 requests per minute for SaaS deployments.
  version: 1.23.0
  contact:
    name: VKS Support
    url: https://help.vksapp.com/
  license:
    name: Proprietary
    url: https://vksapp.com/
servers:
- url: https://api.vksapp.com
  description: VKS SaaS API
- url: https://{your-vks-instance}
  description: VKS On-Premises API
  variables:
    your-vks-instance:
      default: vks.example.com
      description: Your VKS on-premises hostname
tags:
- name: Guidebooks
  description: Access work instruction guidebooks and step-level content
paths:
  /api/guidebooks:
    get:
      operationId: listGuidebooks
      summary: List Guidebooks
      description: Retrieve all published work instruction guidebooks available in VKS.
      tags:
      - Guidebooks
      security:
      - ApiKeyAuth: []
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 20
          maximum: 100
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Search guidebooks by name or description
      responses:
        '200':
          description: List of guidebooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Guidebook'
                  total:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/guidebooks/{guidebook_id}:
    get:
      operationId: getGuidebook
      summary: Get Guidebook
      description: Retrieve a specific guidebook including its steps, smart forms, and media content.
      tags:
      - Guidebooks
      security:
      - ApiKeyAuth: []
      parameters:
      - name: guidebook_id
        in: path
        required: true
        schema:
          type: string
        description: Unique guidebook identifier
      responses:
        '200':
          description: Guidebook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guidebook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Guidebook:
      type: object
      description: A VKS guidebook containing step-by-step work instructions.
      properties:
        id:
          type: string
          description: Unique guidebook identifier.
        name:
          type: string
          description: Guidebook name.
          example: Assembly Line A - Widget Assembly v3
        description:
          type: string
          description: Guidebook description.
        version:
          type: string
          description: Guidebook version number.
        step_count:
          type: integer
          description: Number of steps in the guidebook.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Unauthorized — invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'VKS API key. Include as ''Authorization: Bearer {api_key}'' or as configured in your VKS instance.'
externalDocs:
  description: VKS API Documentation
  url: https://help.vksapp.com/Content/VKS_Features/API/APIInfo.htm
